@import 'foundation';
@import 'normalize';

@mixin HelveticaNeue {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 200;
}

$white: #f2f2f2;
$orange: #f8720a;
$dark_text: #5c5c5c;

html,
body {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

/* Background image credit: JJ Harrison http://en.wikipedia.org/wiki/File:Parliament_House_Canberra_Dusk_Panorama.jpg */
body {
  background: url(/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clear {
  clear: both;
}

h1 {
   margin: 0;
}

h2 {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 300;
   color: darken($dark_text, 20%);
   font-size: 1.2em;
   letter-spacing: 2px;
   padding: 5px 0;
}

#menu-button.white_text {
   i {
      color: rgba(255,255,255,0.8);
   }
}

.error {
   font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
   font-weight: 600;
   color: $dark_text;
   font-size: 0.9em;
   letter-spacing: 1px;
   display: block;
   text-align: right;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  vertical-align: middle;
}

.heading {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  color: $white;
  text-align: right;
  line-height: 1em;
  padding-right: 20px;
  font-size: 3.8em;
  position: relative;
  top: 20px;
  display: inline-block;
  float: right;
  a {
     text-decoration: none;
     color: $white;
     &:link,
     &:visited,
     &:hover,
     &:active {
        color: $white;
     }
  }
}

.logo {
   width: 200px;
   height: auto;
   display: inline-block;
   padding-right: 15px;
   float: right;
   position: relative;
   top: 20px;
}

.postcode-search {
  width: 100%;
  position: absolute;
  top: 30%;

  .postcode-form {
    background-color: rgba(255,255,255,0.3);
    padding: 10px;
    border-radius: 50px 0 0 50px;
  }
  .form {
    .top-row {
      float: right;
      clear: both;
      text-align: right;
      label {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 300;
        color: darken($dark_text, 20%);
        font-size: 1.2em;
        letter-spacing: 2px;
        padding: 5px 0;
        display: inline-block;
      }
      input[type=number] {
        font-family: FontAwesome;
        width: 90px;
        display: inline-block;
      }
      input[type=submit] {
        font-family: Helvetica, Arial, sans-serif;
        width: 90px;
        float: right;
        clear: both;
        background-color: $orange;
        color: $white;
        border: 0;
        margin: 3px 0 3px 8px;
        padding: 9px 0;
        display: inline-block;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  .s-m {
    width: 100%;
    padding-bottom: 15px;
    text-align: center;
    .s-m-i {
      text-align: center;
      i {
        color: rgba(255,255,255,0.4);
        font-size: 2em;
        padding: 0 15px;
      }
    }
  }

  .copyright {
    text-align: center;
    color: $white;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
}

/* Media Queries */

@media all and (max-width: 1024px) {
   .heading {
      font-size: 3.8em;
   }
}

@media all and (max-width: 768px) {
   body {
     background: url(/images/background_768.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }
   .page-body {
      overflow-x: hidden;
        position: relative;
   }

   .page-body-left {
      left: 0px;
   }

   .page-body-pushed {
      left: 120px;
   }

   .postcode-search  {
      top: 20%;
      .postcode-form {
         position: absolute;
         top: 50px;
         width: 100%;
         background-color: rgba(255,255,255,0.5);
         border-radius: 0;
      }
      .form {
         .top-row {
            width: auto;
            margin: 0 auto;
            input[type=submit] {
               margin: 3px 8px;
               padding: 9px 0;
               display: inline-block;
            }
         }
      }
   }

   .error {
      font-size: 0.8em;
   }

   input[type=submit]#submit {
      width: 90px;
   }
}


@media all and (max-width: 640px) {
   .page-body {
      overflow-x: hidden;
        position: relative;
   }

   .page-body-left {
      left: 0px;
   }

   .page-body-pushed {
      left: 120px;
   }

   .heading {
      font-size: 3.5em;
   }

   .postcode-search  {
      .postcode-form {
         background-color: rgba(255,255,255,0.6);
         border-radius: 0;
      }
      .form {
         .top-row {
            width: auto;
            margin: 0 auto;
            input[type=submit] {
               margin: 3px 8px;
               padding: 9px 0;
               display: inline-block;
            }
         }
      }
   }
}

@media all and (max-width: 570px) {
   .heading {
      font-size: 2.8em;
   }

   .logo {
      width: 170px;
   }
}

@media all and (max-width: 480px) {
   body {
     background: url(/images/background_480.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }

   .heading {
      font-size: 2.2em;
   }

   .logo {
      width: 90px;
   }
}

@media all and (max-width: 320px) {


   .title {
      margin: 0;
      padding: 0;
   }

   .header {
      position: relative;
      top: 0;
   }
   .heading {
      font-size: 1.7em;
   }

   .logo {
      width: 80px;
   }
}


@import 'menu_mediaqueries'
