/*
* From css-tricks.com
* http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

$white: #f2f2eb;

/* Smartphones (portrait and landscape) ----------- */
@media all and (max-device-width : 480px) and (min-device-width : 320px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media all and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media all and (max-width : 320px) {
/* Styles */
}

@media all and (max-width : 768px ) {
   .heading {
     font-size: 3.7em;
   }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
.postcode-form {
  .menu_email_mp {
    font-size: 1em;
  }
  .form {
    label {
      font-size: 0.9em;
    }
  }
}
   .menu {
     display: none;
  }

  .slidermenu-left {
     left: -120px;
  }

  .slidermenu-pushed {
     left: 0px;
  }

  #menu-button {
     position: absolute;
     display: inline-block;
     z-index: 1000;
     top: 10px;
     color: #f2f2eb;
     font-size: 2em;
     i {
        color: #000;
     }
  }

  .menu-button-left {
     left: 20px;
  }

  .menu-button-pushed {
     left: 140px;
  }

  #menu-button,
  .slidermenu {
     -webkit-transition: all 0.2s linear !important;
     -moz-transition: all 0.2s linear !important;
     -ms-transition: all 0.2s linear !important;
     -o-transition: all 0.2s linear !important;
     transition: all 0.2s linear !important;
  }

  .slidermenu {
    z-index: 999;
    width: 120px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(29,29,29,1);
    float: left;
    a {
       color: $white;
       text-decoration: none;
       border: 0;
       &:link,
       &:visited,
       &:hover,
       &:active {
       color: $white;
       text-decoration: none;
       border: 0;
       }
    }
    ul {
       margin: 0;
       padding: 0;
       li.blank {
          list-style: none;
          width: 120px;
       }
       li.menu-section {
          list-style: none;
          text-align: center;
          width: 120px;
          border-bottom: 1px solid #444;
          font-family: 'Helvetica Neue', sans-serif;
          color: #f2f2eb;
          display: table;
          position: relative;
          border-right: 5px solid transparent;
          .section-contents {
             display: table-cell;
             vertical-align: middle;
             width: 120px;
             padding: 3px;
          }
       }
       li.top {
          border-top: 1px solid #444;
       }
    }
    i {
       color: #555;
    }
    ul.sub-menu {
       display: block;
       width: 120px;
       min-height: 120px;
       list-style: none;
       position: absolute;
       left: -9999px;
       background-color: rgba(29,29,29,1);
       li.sub-menu-section {
          width: 120px;
          height: 50px;
          border-bottom: 1px solid #444;
          border-right: 5px solid transparent;
          display: table;
          position: relative;
          font-family: 'Helvetica Neue', sans-serif;
          font-size: 0.775em;
          .sub-menu-contents {
             display: inline;
             display: table-cell;
             vertical-align: middle;
             padding: 3px;
          }
       }
       .sub-menu-section:hover,
       .sub-menu-section:active {
          border-right: 5px solid #f8720a;
       }
    }
    ul li.menu-section:hover {
       border-right: 5px solid #f8720a;
       i {
          color: #999;
       }
    }
    ul li.menu-section:hover > ul.sub-menu {
       position: absolute;
       left: 120px;
    }
  }


  }

  .menu {
  ul {
     width: 100%;
     font-size: 0.9em;
  }
}

.pol_info1 {
  font-size: 1.1em;
}

.pol_info2 {
  font-size: 0.75em;
}

.email_mp_title {
  font-size: 1.1em;
}

.contact_form {
  label {
    font-size: 0.75em;
  }
  input[type=text],
  input[type=email],
  textarea {
    font-size: 0.75em;
    letter-spacing: 2px;
    font-weight: 400;
  }
}


/* iPads (portrait and landscape) ----------- */
@media all and (max-width: 1024px) and (min-width: 768px) {
   .heading {
     font-size: 4.5em;
   }
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

.postcode-form {
  .menu_email_mp {
    font-size: 1.2em;
  }
}

  .menu {
    ul {
      // width: 135px;
      width: 100%;
      font-size: 1em;
    }
  }


.pol_info1 {
  font-size: 1.3em;
}

.pol_info2 {
  font-size: 0.8em;
}

.email_mp_title {
  font-size: 1.3em;
}

.contact_form {
  label {
    font-size: 0.8em;
  }
  input[type=text],
  input[type=email],
  textarea {
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 400;
  }
}

}


/* iPads (landscape) ----------- */
@media all and (max-device-width : 1024px) and (min-device-width : 768px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media all and (max-device-width : 1024px) and (min-device-width : 768px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media all and (min-width : 1025px) {
.desktop {
  display: block;
  width: 100%;
}

.mobile {
  display: none;
  width: 100%;
}

.contact-form-content {
   max-width: 1000px;
}

.heading {
   font-size: 5.5em;
}

}


@media all and (min-width : 1200px) {
  .heading {
    font-size: 6.5em;
  }

  .contact-form-content {
     max-width: 1200px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */

   .contact-form-content {
      max-width: 1700px;
   }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/* iPhone 5 ----------- */
@media screen and (device-aspect-ratio: 40/71) {
  /* Styles */
}


/* All Politicians Layout */

@media screen and (min-width: 768px) {
   #politicians_container {
      .politician {
         width: 33%;
      }
   }
}

@media screen and (min-width: 1250px) {
   #politicians_container {
      .politician {
         width: 24.5%;
      }
   }
}




/* Menu */

@media screen and (max-height: 499px) {

   .menu {
      ul {
         li.blank {
            height: 50px;
         }
         li.menu-section {
            height: 50px;
            font-size: 0.775em;
            font-weight: 200;
            letter-spacing: 2px;
            .section-contents {
               height: 50px;
            }
         }
      }
      i {
         font-size: 2em;
      }
   }
}

@media screen and (min-height: 500px) {

   .menu {
      ul {
         li.blank {
            height: 80px;
         }
         li.menu-section {
            height: 80px;
            font-size: 0.775em;
            font-weight: 200;
            letter-spacing: 2px;
            .section-contents {
               height: 80px;
            }
         }
      }
      i {
         font-size: 3em;
      }
   }
}



@media screen and (min-height: 680px) {

   .menu {
      ul {
         li.blank {
            height: 80px;
         }
         li.menu-section {
            height: 120px;
            font-size: 0.775em;
            font-weight: 200;
            letter-spacing: 2px;
            .section-contents {
               height: 120px;
            }
         }
      }
      i {
         font-size: 4.4em;
      }
   }
}
