@mixin HelveticaNeue {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

$white: #f2f2f2;
$orange: #f8720a;
$dark_text: #5c5c5c;

footer.menu-footer {
   position: absolute;
   bottom: 0;
   font-family: 'Helvetica Neue', sans-serif;
   font-size: 0.7em;
   font-weight: 200;
   color: #555;
   width: 100%;
   text-align: center;
   margin-bottom: 3px;
   line-height: 1em;
   i {
      font-size: 2em;
      padding: 5px;
   }
   a {
      color: #555;
      &:link,
      &:visited,
      &:hover,
      &:active {
         color: #555;
      }
   }
}

/* Sliding menu */
@media all and (max-width:768px) {
   .menu {
      display: none;
   }

   .slidermenu-left {
      left: -120px;
   }

   .slidermenu-pushed {
      left: 0px;
   }

   #menu-button {
      position: absolute;
      display: inline-block;
      z-index: 1000;
      top: 10px;
      color: $dark_text;
      font-size: 2em;
      i {
         color: $white;
      }
   }

   .menu-button-left {
      left: 20px;
   }

   .slidermenu,
   .page-body {
      -webkit-transition: all 0.2s linear !important;
      -moz-transition: all 0.2s linear !important;
      -ms-transition: all 0.2s linear !important;
      -o-transition: all 0.2s linear !important;
      transition: all 0.2s linear !important;
   }

.slidermenu {
  z-index: 999;
  width: 120px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(29,29,29,1);
  float: left;
  a {
     color: $white;
     text-decoration: none;
     border: 0;
     &:link,
     &:visited,
     &:hover,
     &:active {
     color: $white;
     text-decoration: none;
     border: 0;
     }
  }
  ul {
     margin: 0;
     padding: 0;
     li.blank {
        list-style: none;
        width: 120px;
        min-height: 50px;
     }
     li.menu-section {
        list-style: none;
        text-align: center;
        width: 120px;
        min-height: 60px;
        border-bottom: 1px solid #444;
        font-family: 'Helvetica Neue', sans-serif;
        color: #f2f2eb;
        display: table;
        position: relative;
        border-right: 5px solid transparent;
        .section-contents {
           display: table-cell;
           vertical-align: middle;
           width: 120px;
           padding: 3px;
           min-height: 60px;
           font-size: 0.9em;
        }
     }
     li.top {
        border-top: 1px solid #444;
     }
  }
  i {
     color: #555;
     font-size: 2em;
  }
  ul.sub-menu {
     display: block;
     width: 120px;
     min-height: 120px;
     list-style: none;
     position: absolute;
     left: -9999px;
     background-color: rgba(29,29,29,1);
     li.sub-menu-section {
        width: 120px;
        height: 50px;
        border-bottom: 1px solid #444;
        border-right: 5px solid transparent;
        display: table;
        position: relative;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 0.9em;
        .sub-menu-contents {
           display: inline;
           display: table-cell;
           vertical-align: middle;
           padding: 3px;
        }
     }
     .sub-menu-section:hover,
     .sub-menu-section:active {
        border-right: 5px solid #f8720a;
     }
  }
  ul li.menu-section:hover {
     border-right: 5px solid #f8720a;
     i {
        color: #999;
     }
  }
  ul li.menu-section:hover > ul.sub-menu {
     position: absolute;
     left: 120px;
  }
}

}

/* Static menu */
@media all and (min-width: 769px) {
   #menu-button {
      display: none;
   }

   #slider,
   .slidermenu {
      display: none;
   }

   .menu {
      display: block;
      z-index: 999;
      width: 120px;
      height: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(29,29,29,1);
      float: left;
      a {
         color: $white;
         text-decoration: none;
         border: 0;
         &:link,
         &:visited,
         &:hover,
         &:active {
         color: $white;
         text-decoration: none;
         border: 0;
         }
      }
      ul {
         margin: 0;
         padding: 0;
         li.blank {
            list-style: none;
            width: 120px;
            min-height: 30px;
         }
         li.menu-section {
            list-style: none;
            text-align: center;
            width: 120px;
            min-height: 100px;
            border-bottom: 1px solid #444;
            font-family: 'Helvetica Neue', sans-serif;
            color: #f2f2eb;
            display: table;
            position: relative;
            border-right: 5px solid transparent;
            .section-contents {
               display: table-cell;
               vertical-align: middle;
               width: 120px;
               height: 100px;
               padding: 3px;
               font-size: 0.9em;
               letter-spacing: 1px;
               @include HelveticaNeue;
            }
         }
         li.top {
            border-top: 1px solid #444;
         }
      }
      i {
         color: #555;
         font-size: 2.7em;
      }
      ul.sub-menu {
         display: block;
         width: 120px;
         min-height: 120px;
         list-style: none;
         position: absolute;
         left: -9999px;
         background-color: rgba(29,29,29,1);
         li.sub-menu-section {
            width: 120px;
            height: 50px;
            border-bottom: 1px solid #444;
            border-right: 5px solid transparent;
            display: table;
            position: relative;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 0.9em;
            .sub-menu-contents {
               display: inline;
               display: table-cell;
               vertical-align: middle;
               padding: 3px;
            }
         }
         .sub-menu-section:hover,
         .sub-menu-section:active {
            border-right: 5px solid #f8720a;
         }
      }
      ul li.menu-section:hover {
         border-right: 5px solid #f8720a;
         i {
            color: #999;
         }
      }
      ul li.menu-section:hover > ul.sub-menu {
         position: absolute;
         left: 120px;
      }
   }
}

/* Mobiles in landscape */
@media all and (max-height:360px) {
      .menu {
         display: none;
      }

      .slidermenu-left {
         left: -120px;
      }

      .slidermenu-pushed {
         left: 0px;
      }

      #menu-button {
         position: absolute;
         display: inline-block;
         z-index: 1000;
         top: 10px;
         color: $dark_text;
         font-size: 2em;
         i {
            color: $white;
         }
      }

      .menu-button-left {
         left: 20px;
      }

      .slidermenu,
      .page-body {
         -webkit-transition: all 0.2s linear !important;
         -moz-transition: all 0.2s linear !important;
         -ms-transition: all 0.2s linear !important;
         -o-transition: all 0.2s linear !important;
         transition: all 0.2s linear !important;
      }

      .slidermenu {
        z-index: 999;
        width: 120px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: rgba(29,29,29,1);
        float: left;
        a {
           color: $white;
           text-decoration: none;
           border: 0;
           &:link,
           &:visited,
           &:hover,
           &:active {
           color: $white;
           text-decoration: none;
           border: 0;
           }
        }
        ul {
           margin: 0;
           padding: 0;
           li.blank {
             list-style: none;
             width: 120px;
             min-height: 5px;
           }
           li.menu-section {
             list-style: none;
             text-align: center;
             width: 120px;
             min-height: 30px;
             border-bottom: 1px solid #444;
             font-family: 'Helvetica Neue', sans-serif;
             color: #f2f2eb;
             display: table;
             position: relative;
             border-right: 5px solid transparent;
             .section-contents {
                 display: table-cell;
                 vertical-align: middle;
                 width: 120px;
                 padding: 3px;
                 min-height: 30px;
                 font-size: 0.9em;
             }
           }
           li.top {
             border-top: 1px solid #444;
           }
        }
        i {
           color: #555;
           font-size: 1.3em;
        }
        ul.sub-menu {
           display: block;
           width: 120px;
           min-height: 120px;
           list-style: none;
           position: absolute;
           left: -9999px;
           background-color: rgba(29,29,29,1);
           li.sub-menu-section {
             width: 120px;
             height: 30px;
             border-bottom: 1px solid #444;
             border-right: 5px solid transparent;
             display: table;
             position: relative;
             font-family: 'Helvetica Neue', sans-serif;
             font-size: 0.9em;
             .sub-menu-contents {
                 display: inline;
                 display: table-cell;
                 vertical-align: middle;
                 padding: 3px;
             }
           }
           .sub-menu-section:hover,
           .sub-menu-section:active {
             border-right: 5px solid #f8720a;
           }
        }
        ul li.menu-section:hover {
           border-right: 5px solid #f8720a;
           i {
             color: #999;
           }
        }
        ul li.menu-section:hover > ul.sub-menu {
           position: absolute;
           left: 120px;
        }
      }
}
