@import 'foundation';
@import 'normalize';
@import 'menu_mediaqueries';

@mixin HelveticaNeue {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
}
@mixin Helvetica {
   font-family: 'Helvetica', sans-serif;
   font-weight: 400;
}

@mixin Submit {
   width: 120px;
   height: 30px;
   background-color: $dark_text;
   border: 0;
   color: $white;
   font-size: 1em;
}

$white: #f2f2eb;
$dark_text: #5c5c5c;
$light: #d1dbbd;
$medium: #91aa9d;
$dark: #3e606f;
$senate_light: lighten(rgb(133, 73, 72), 50%);
$senate_medium: lighten(rgb(133, 73, 72), 5%);
$senate_dark: darken(rgb(133, 73, 72), 10%);
$orange: #f8720a;
$blue: #0072bc;

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  background-color: $white;
}


/* Basic Layout Boxes */

.row, .column, .columns {
   padding: 0;
   margin: 0;
}

.container {
   width: 100%;
   height: 100%;
}

.content {
   height: 100%;
   width: 100%;
   max-width: calc(100% - 120px);
   position: absolute;
   left: 120px;
   top: 0;
   padding-top: 120px;
}

/* General classes */

.clear {
  clear: both;
}

strong {
  font-weight: bold;
}

.centre {
  text-align: center;
}

.right {
   float: right;
}

.white_text {
  color: $white;
}

.dark_text {
   color: $dark_text;
}

#menu-button {
   i {
      color: $dark_text;
   }
}

.smt { // twitter colour
  color: #55acee;
}
.smf { // facebook colour
  color: #3b5998;
}

.box {
   width: 33%;
   min-width: 450px;
   max-width: 450px;
   background-color: lighten(#ccc, 10%);
   border: 3px solid $dark_text;
   font-family: 'Helvetica', sans-serif;
   font-weight: 200;
   color: $dark_text;
   font-size: 1em;
   margin: 20px auto 20px auto;
   padding: 20px;
   i {
      font-size: 2em;
      color: #b2b2b2;
   }
}


h1 {
  width: 100%;
  text-align: center;
  font-weight: 100;
  margin: 0;
}

h2 {
  @include HelveticaNeue;
  font-weight: 100;
  font-size: 3.5em;
}

h3 {
  @include HelveticaNeue;
  color: $dark;
  font-size: 2em;
}

/* Header */

.header {
   position: absolute;
   top: 0;
   right: 20px;
   z-index: 0;
}

.heading {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  color: $dark_text;
  text-align: right;
  padding-right: 0;
  font-size: 6em;
}

/* Select My MP Page */

.contents {
   position: relative;
   z-index: 1;
   width: 100%;
}

.sub-heading {
  margin-left: 8%;
  letter-spacing: 2px;
}

.house-sub-heading {
   text-align: center;
   letter-spacing: 2px;
   color: $dark_text;
   @include HelveticaNeue;
   font-size: 2em;
   font-weight: 200;
}

.house-results {
   margin-bottom: 100px;
}

.constituency-form {
   position: relative;
  img.map {
    height: 117px;
    width: auto;
    border: 0;
  }
  .constituency {
     margin: 20px auto;
     width: 100%;
     max-width: 300px;
     @include HelveticaNeue;
     color: $dark;
     background-color: $light;
    .title {
      width: 100%;
      position: relative;
      background-color: $medium;
      .constituency_title {
         font-family: 'Helvetica Neue', sans-serif;
         font-weight: 200;
         font-size: 1.5em;
         color: $white;
         letter-spacing: 2px;
         padding-left: 10px;
      }
    }
    .title:after {
      top: 100%;
    	left: 10%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
       border-color: rgba(92, 92, 92, 0);
       border-top-color: $medium;
    	border-width: 8px;
    	margin-left: -8px;
    }

    ul {
      list-style: none;
      margin: 0 1em;
      @include Helvetica;
      li:first-child {
         margin-top: 0;
      }
      li {
         margin-top: 10px;
         color: $dark_text;
      }
    }
  }

  .radio_button {
     width: 100%;
     position: relative;
     top: 0;
    fieldset {
      width: 100%;
      position: relative;
      left: -2px;
      bottom: 0;
      border: 0;
      input[type=radio] {
         width: 25px;
         margin: 20px auto 0 auto;
         display: block;
      }
    }
  }

  .submit_button {
    margin-top: 50px;
    text-align: left;
  }
}

/* Submit buttons - Select your constituency & Email your MP */
#electorate_submit,
#mp_email_submit {
   @include Submit;
   margin-left: 8%;
   text-align: center;
}

.light-bg {
   background-color: $light;
}

.no-bg {
   background-color: transparent;
}

.politician-info-container {
   margin: 0 10px;
}

.pol_info1 {
   font-family: 'Helvetica Neue', sans-serif;
   letter-spacing: 2px;
   font-weight: 200;
   color: $white;
   font-size: 1.5em;
   line-height: 1.5em;
   padding: 5px 5px 5px 10px;
   height: 46px;
   margin: 0;
}

.row.spacing {
   padding: 15px 10px 10px 10px;
}

.pol_info2 {
   @include HelveticaNeue;
   letter-spacing: 2px;
   color: $white;
   font-size: 1.1em;
   line-height: 1.1em;
   padding: 5px 5px 5px 10px;
   height: 46px;
   margin: 0;
}

.pol_info3 {
   @include Helvetica;
   font-weight: 400;
   color: $dark_text;
   font-size: 1.1em;
  i {
     margin-right: 7px;
     font-size: 1.3em;
  }
  a {
     color: $dark_text;
  }
}

hr.med_grey {
   margin-top: 20px;
   border: 0;
   height: 1px;
   background: #ccc;
   background-image: -webkit-linear-gradient(left, #ccc, #aaa, #ccc);
   background-image:    -moz-linear-gradient(left, #ccc, #aaa, #ccc);
   background-image:     -ms-linear-gradient(left, #ccc, #aaa, #ccc);
   background-image:      -o-linear-gradient(left, #ccc, #aaa, #ccc);
}

.contact_form {
   margin: 20px auto;
   padding-bottom: 30px;
   width: 95%;
   label {
      @include Helvetica;
      font-weight: 500;
      font-size: 1em;
      color: $dark;
   }
   input[type=text],
   input[type=email],
   textarea {
      @include Helvetica;
      font-size: 1em;
      color: $dark;
      border: 1px solid $medium;
      background-color: $white;
      padding:5px 3px;
   }
   textarea {
      height: 250px;
      margin-bottom: 30px;
   }
}

.email_mp_title {
   margin-top: 70px;
   font-family: 'Helvetica', sans-serif;
   letter-spacing: 2px;
   font-weight: 100;
   color: $dark;
   font-size: 1.6em;
   padding-top: 15px;
   padding-bottom: 15px;
}

.contact-form-content {
   width: 100%;
   height: auto;
   margin-bottom: 50px;
  .image {
     background-color: transparent;
    img {
      float: right;
      padding: 0;
    }
  }
}

.empty {
   height: auto;
   min-height: 20px;
}

.info-section {
   padding-top: 30px;
}

/* All Politicians Pages */

.dropdown-menu {
   margin: 0 auto;
   background-color: #ccc;
   width: 50%;
}

form.selection-form {
   padding: 0 20px;
   margin: 0;
   label {
      display: inline-block;
      @include Helvetica;
      font-size: 1em;
      color: $dark_text;
   }
   select {
      width:120px;
      display: inline-block;
   }
   input[type=submit] {
      @include Submit;
      display: inline-block;
      width: 80px;
      background-color: #5c5c5c;
      margin-left: 15px;
   }
   input[type=submit].show_individual {
      margin: 10px auto 0 auto;
      display: block;
      padding: 5px 10px;
      border-color: #ccc;
      @include HelveticaNeue;
      color: $white;
   }

   input[type=submit].mp_dark:hover {
      background-color: $dark;
   }

   input[type=submit].senator_dark:hover {
      background-color: $senate_dark;
   }
}

/* Background colours */
.mp_light {
   background-color: $light;
}
.mp_medium {
   background-color: $medium;
}
.mp_dark {
   background-color: $dark;
}
.senator_light {
   background-color: $senate_light;
}
.senator_medium {
   background-color: $senate_medium;
}
.senator_dark {
   background-color: $senate_dark;
}

#politicians_container {
   width: 100%;
   height: 100%;
   overflow: hidden;
   margin: 0 auto;
   text-align: center;
   .politician {
      height: 330px;
      min-width: 273px;
      margin: 2px 0;
      border: 1px solid #bbb;
      display: inline-block;
      .mp_name, .senator_name, .constituency {
         display: inline-block;
         width: 100%;
         position: relative;
         margin: 0;
         line-height: 2.6em;
         height: 2.6em;
         text-align: left;
      }
      .politician_title {
         font-family: 'Helvetica Neue', sans-serif;
         font-weight: 200;
         font-size: 1.2em;
         color: $white;
         letter-spacing: 1px;
         padding-left: 10px;
      }
      .mp_name:after,
      .senator_name:after {
         top: 100%;
         left: 10%;
         border: solid transparent;
         content: " ";
         height: 0;
         width: 0;
         position: absolute;
         pointer-events: none;
         border-color: rgba(92, 92, 92, 0);
         border-width: 8px;
         margin-left: -8px;
      }
      .mp_name:after {
         border-top-color: $medium;
      }
      .senator_name:after {
         border-top-color: $senate_medium;
      }
   }
   img.politician_img {
      height: 140px;
      width: auto;
      margin: 10px;
   }
   img.senate_map {
      height: auto;
      width: auto;
      margin: 10px;
   }
}
.sm-links {
   height: auto;
   width: 50%;
   display: inline-block;
   padding: 20px;
   text-align: left;
   i {
      font-size: 1.4em;
   }
   a {
      color: $dark_text;
   }
}

.politician_row1 {
   width: 100%;
   display: block;
}

.politician_row2 {
   width: 100%;
   display: block;
   margin: 10px auto;
   text-align: center;

   .party {
      height: 100%;
      font-family: 'Helvetica', sans-serif;
      font-size: 1em;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 10px;
   }

   .button_link {
      margin-top: 25px;
      padding: 5px 15px;
      border: 0;
      color: $white;
   }
}


@media all and (max-width: 1024px) {
   .heading {
      font-size: 4.85em;
   }
}

@media all and (max-width: 768px) {
   .page-body {
      overflow-x: hidden;
	     position: relative;
   }

   .page-body-left {
      left: 0px;
   }

   .page-body-pushed {
      left: 120px;
   }

   /* View a Politician */

   .small {
      display: none;
   }

   .medium {
      display: block;
      img {
         height: 160px;
      }
      .s-l-icons {
         width: 100%;
         height: 160px;
         .section {
            position: relative;
            top: 43%;
            width: 23.9%;
            text-align: center;
            display: inline-block;
            i {
               font-size: 2em;
               color: #ccc;
            }
         }
      }
   }

   .padding {
      padding: 0 8px;
   }

   .large {
      display: none;
   }


   .heading {
      font-size: 4em;
   }

   .sub-heading {
      font-size: 2.8em;
   }
   .container {
      width: 100%;
      height: 100%;
      border-left: 10px solid transparent;
   }

   .content {
      max-width: 100%;
      left: 0;
   }

   .contents {
      left: 0;
      border: 0;
   }
   #politicians_container {
      .politician {
         margin-bottom: 10px;
         min-width: 230px;
         max-width: 230px;
         width: 230px;
         height: auto;
         img.politician_img {
            height: 100px;
            vertical-align: top;
         }
         .sm-links {
            width: 60%;
            i {
               font-size: 1.1em;
            }
            a {
               font-size: 0.9em;
            }
         }
      }
   }
}


@media all and (max-width: 640px) {
   .page-body {
      overflow-x: hidden;
        position: relative;
   }

   .page-body-left {
      left: 0px;
   }

   .page-body-pushed {
      left: 120px;
   }

   .container {
      width: 100%;
      height: 100%;
      border-left: 10px solid transparent;
   }

   .contents {
      left: 0;
      border: 0;
   }

   .heading {
      font-size: 3.5em;
   }

   .sub-heading {
      font-size: 2.5em;
   }

.box {
   width: 60%;
}

#politicians_container {
   .politician {
      margin-bottom: 10px;
      min-width: 280px;
      max-width: 280px;
      width: 280px;
      height: auto;
      img.politician_img {
         height: 100px;
         vertical-align: top;
      }
      .sm-links {
         width: 60%;
         i {
            font-size: 1.1em;
         }
         a {
            font-size: 0.9em;
         }
      }
   }
}
}


@media all and (max-width: 570px) {
   .box {
      min-width: 399px;
      max-width: 399px;
      width: 70%;
   }

   #politicians_container {
      .politician {
         margin-bottom: 10px;
         min-width: 70%;
         max-width: 70%;
         width: 70%;
         height: auto;
         img.politician_img {
            height: 100px;
            vertical-align: top;
         }
         .sm-links {
            width: 60%;
            i {
               font-size: 1.1em;
            }
            a {
               font-size: 1em;
            }
         }
      }
   }
}



@media all and (max-width: 480px) {

   .page-body {
      overflow-x: hidden;
       position: relative;
   }

   .page-body-left {
      left: 0px;
   }

   .page-body-pushed {
      left: 120px;
   }

   .container {
      width: 100%;
      height: 100%;
      border-left: 10px solid transparent;
   }

   .contents {
      left: 0;
      border: 0;
   }

   /* View a Politician */
   .small {
      display: block;
      .links {
         padding-left: 30px;
         padding-top: 20px;
         .s-l {
            margin-bottom: 25px;

            a {
               font-size: 0.9em;
            }
            i {
               font-size: 1em;
            }
         }
      }
   }
   .padding {
      padding: 0 8px;
   }

   .pol_info1 {
      font-size: 1em;
      height: auto;
      padding: 3px;
   }

   .pol_info2 {
      font-size: 0.8em;
      font-weight: 100;
      height: auto;
      padding: 3px;
   }

   .pol_info3 {
      font-size: 1em;
      a[href^=tel]{
         color: blue;
      }
   }
   .medium {
      display: none;
   }
   .large {
      display: none;
   }


   .heading {
      font-size: 3em;
   }

   .box {
      width: 80%;
      min-width: 384px;
      max-width: 384px;
      padding: 10px;
   }

   #politicians_container {
      .politician {
         margin-bottom: 10px;
         min-width: 80%;
         max-width: 80%;
         width: 80%;
         height: auto;
         img.politician_img {
            height: 100px;
            vertical-align: top;
         }
         .sm-links {
            width: 60%;
            i {
               font-size: 1.1em;
            }
            a {
               font-size: 1em;
            }
         }
      }
   }
}

@media all and (max-width: 320px) {

   .heading {
      font-size: 2.05em;
   }

   .sub-heading {
      font-size: 1.7em;
   }

   .content {
      padding-top: 70px;
   }

   .sub-heading {
      font-size: 2.4em;
   }

   .box {
      width: 90%;
      min-width: 288px;
      max-width: 288px;
      padding: 10px;
   }

   #politicians_container {
      .politician {
         margin-bottom: 10px;
         min-width: 90%;
         max-width: 90%;
         width: 90%;
         height: auto;
         img.politician_img {
            height: 100px;
            vertical-align: top;
         }
         .sm-links {
            width: 60%;
            i {
               font-size: 1.1em;
            }
            a {
               font-size: 1em;
            }
         }
      }
      .house-results {
         margin-bottom: 30px;
         .house-sub-heading {
            font-size: 1.3em;
         }
      }
   }

   /* View a Politician */

   .pol_info1 {
      font-size: 0.9em;
   }
}
