/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/storage
/app/config/app.php
/app/config/database.php
/public/scss/mediaqueries2.scss
/public/css/mediaqueries2.css
/public/scss/frontpage_styles2.scss
/public/css/frontpage_styles2.css
/app/views/lowerhouse/show2.blade.php
/app/views/upperhouse/show2.blade.php
/public/js/jquery.slidermenu.js
/node_modules
