#navigation ul {
  margin-bottom: 80px; }
  #navigation ul li {
    padding: 10px 0 10px 15px;
    margin-bottom: 3px; }
#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 1px;
  color: #f2f2eb;
  padding-left: 15px;
  line-height: 1em; }
#navigation .menu-item {
  position: absolute;
  left: 70px; }

.additional-info {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 1px;
  color: #f2f2eb;
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center; }

.sliderButton {
  display: inline-block;
  top: 10px;
  margin-left: 15px;
  font-size: 1.8em;
  cursor: pointer;
  line-height: 40px; }
  .sliderButton a {
    color: #5c5c5c;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 40px; }
    .sliderButton a, .sliderButton a:hover, .sliderButton a:active {
      color: #5c5c5c;
      text-decoration: none; }

.page-body,
.slidermenu {
  -webkit-transition: all 0.2s linear !important;
  -moz-transition: all 0.2s linear !important;
  -ms-transition: all 0.2s linear !important;
  -o-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important; }
